@import '../../styles/main';

.section__title {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

// .images {
//   margin-bottom: 60px;
//   align-items: center;
//   column-gap: $gap;

//   @include breakpoint(mobile-sm) {
//     border-radius: 10px;
//     height: 285px;
//     object-fit: cover;
//   }

//   &1 {
//     width: calc(25% - $gapHalf);
//   }

//   &2 {
//     width: calc(50% - $gap);
//   }

//   &3 {
//     width: calc(25% - $gapHalf);
//   }
// }

.salonSlider {
  margin-bottom: 60px;
}

.salonSlide {
  height: 559px;
  border-radius: 10px;
  overflow: hidden;

  @include breakpoint(laptop-xs) {
    height: 513px;
  } 

  @include breakpoint(mobile-sm) {
    height: 285px;
  }

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.wrap {
  justify-content: center;
  gap: $gap;
}

.reviews {
  padding: 62px 65px !important;
  background-color: $lightGray;
  border-radius: 12px;
  flex: 0 0 calc(100% / 12 * 8 - $gap * 2);
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;

  @include breakpoint(laptop-xs) {
    column-gap: 30px;
  } 

  @include breakpoint(mobile-sm) {
    padding: 20px 10px !important;
    flex-direction: column;
    row-gap: 20px;
    flex-basis: 100%;
  }

  &__item {
    flex-direction: column;
    align-items: center;
    row-gap: 18px;

    @include breakpoint(mobile-sm) {
      &:nth-child(2n+1) {
        margin-left: -35%;
      }

      &:nth-child(2n) {
        margin-right: -35%;
      }
    }
  }

  &__number {
    width: 84px;
    height: 84px;
    border-radius: 10px;
    background-color: $white;
    justify-content: center;
    align-items: center;
    font-family: $zen;
    font-size: 40px;
    line-height: 140%;
    font-weight: 400;

    @include breakpoint(mobile-sm) {
      
    }
  }
}