@import '../../styles/main';

.section {
  background: url('../../icons/bigLogoText.svg') no-repeat 50% calc(50% + 30px);

  @include breakpoint(laptop-xs) {
    background-size: contain;
    background-position: 50% 100%;
  }

  @include breakpoint(mobile-sm) {
    background-position: 50% 80%;
  }
}

.wrap {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  width: calc(100% / 12 * 8);

  @include breakpoint(laptop-xs) {
    width: 100%;
    justify-content: space-between;
  }

  @include breakpoint(mobile-sm) {
    align-items: flex-start;
  }

  &__btn {
    display: none;

    @include breakpoint(mobile-sm) {
      display: block;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.content {
  padding-top: 100px;

  @include breakpoint(laptop-xs) {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 30px;
    max-width: 389px;
  }

  &__btn {
    @include breakpoint(mobile-sm) {
      display: none;
    }
  }
}

.imgCont {
  max-width: 399px;
  max-height: 550px;

  & img {
    border-radius: 12px;
  }
}