@import '../../styles/main';

.section {
  padding-left: $gap;
  padding-right: $gap;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }
}

.masters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $gap;
  row-gap: 40px;
}

.master {
  cursor: pointer;

  &__img {
    margin-bottom: 20px;
    position: relative;
    height: 526px;

    @include breakpoint(mobile-sm) {
      height: 396px;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
      transition: opacity .6s ease-out;
    }

    &Prev {
      opacity: 1;
    }

    &Hover{
      opacity: 0;
    }

    &Btns {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 20px;
      column-gap: 19px;
      align-items: center;
      justify-content: space-between;
    }

    &Btn {
      flex-grow: 1;
    }

    & svg {
      // position: absolute;
      // right: 20px;
      // bottom: 20px;
      transition: transform .3s ease, box-shadow .3s ease;
      border-radius: 50%;
    }
  }

  &__name {
    margin-bottom: 4px;
  }

  &__pos {
    margin-bottom: 20px;
  }

  &__direction {
    &List {
      gap: $gap;
      flex-wrap: wrap;
    }

    &Item {
      padding: 10px;
      background-color: $lightGray;
      border-radius: 6px;
      color: $darkGray;
    }
  }

  &:hover {
    & .master__imgPrev {
      opacity: 0;
    }

    & .master__imgHover {
      opacity: 1;
    }

    & svg {
      transform: translateY(-20px);
      box-shadow: 0px 0px 10px 0px rgba($color: $primaryColor, $alpha: 0.2);
    }
  }
}