html {
	box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
	color: $textColor;
}

a {
	color: inherit;
	text-decoration: none;
}

img, picture {
  display: block;
	max-width: 100%;
}

// общие
.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.flex {
  display: flex;
}

.container {
  max-width: 1560px; // 1440 + paddings
  padding: 0 60px;
  margin: 0 auto;

  @include breakpoint(laptop-xs) {
    padding: 0 40px;
  }

  @include breakpoint(tablet-sm) {
    padding: 0 20px;
  }
}

.section {
	margin-bottom: 200px;

	@include breakpoint(laptop-xs) {
		margin-bottom: 100px;
  }

  @include breakpoint(tablet-sm) {
		margin-bottom: 60px;
  }
}

// текстовые значения
.title-main {
	font-family: $zen;
	font-weight: 700;
	font-size: 44px;
	line-height: 140%;
	text-transform: uppercase;
}

.subtitle {
	font-family: $zen;
	font-weight: 700;
	font-size: 38px;
	line-height: 140%;
	text-transform: uppercase;
}

.title {
	font-family: $zen;
	font-weight: 500;
	font-size: 22px;
	line-height: 140%;
}

.text-primary {
	font-family: $segoe;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

// кнопки и ссылки
.btn {
	position: relative;
	padding: 22px;
	background: $gradientColor;
	color: $white;
	border-radius: 10px;
	cursor: pointer;
	z-index: 1;

	&:before {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $hoverGradientColor;
		border-radius: 10px;
		transition: opacity 0.5s ease;
		z-index: -1;
	}

	&:hover:before{
		opacity: 1;
	}
}

.link {
	cursor: pointer;
	color: $primaryColor;
	transition: color .3s ease;

	&:hover {
		color: $hoverColor;
	}
}