@font-face {
  font-family: 'Segoe';
  src: local('Segoe'),
      url('../fonts/SegoeUIRegular.woff2') format('woff2'),
      url('../fonts/SegoeUIRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
      url('../fonts/MontserratMedium.woff2') format('woff2'),
      url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZenMaru';
  src: local('ZenMaru'),
      url('../fonts/ZenMaruGothic-Medium.woff2') format('woff2'),
      url('../fonts/ZenMaruGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZenMaru';
  src: local('ZenMaru'),
      url('../fonts/ZenMaruGothic-Bold.woff2') format('woff2'),
      url('../fonts/ZenMaruGothic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}