@import '../styles/main';

.main {
  flex-direction: column;
  justify-content: space-between;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  display: flex;
}

.swiper-slide {
  min-height: 100% !important;
}