@import '../../styles/main';

.header {
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    position: relative;
    max-width: 1380px; // 1260 + paddings
    justify-content: space-between;
    align-items: center;

    @include breakpoint(tablet-sm) {
      padding: 0 20px;
    }
  }

  &__logo {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  &__btn {
    align-items: center;
    column-gap: 10px;

    &:hover { 

    }
  }
}

.nav {
  justify-content: space-between;

  &__list {
    column-gap: 24px;
    align-items: center;
  }

  &__link {
    transition: color .3s ease;

    &:hover {
      color: $hoverColor;
    }
  }
}