@import '../../styles/main';

.section {
  flex-direction: column;
  row-gap: $gap;
}

.img {
  border-radius: 12px;
  min-height: 100%;
  object-fit: cover;
}

.slide {
  width: auto !important;
  // height: 100%;
}