@import '../../styles/main';

.wrap {
  justify-content: center;
  align-items: center;
  column-gap: 62px;

  @include breakpoint(laptop-xs) {
    flex-direction: row-reverse;
    background: url('../../icons/bigSertText.svg') no-repeat 0 0;
  }

  @include breakpoint(mobile-sm) {
    flex-direction: column;
  }
}

.content {
  padding: 40px 0 40px;
  flex: 0 1 571px;
  background: url('../../icons/bigSertText.svg') no-repeat 0% 24px;

  @include breakpoint(laptop-xs) {
    background: none;
    flex-basis: auto;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 483px;
  }

  &__btn {
    @include breakpoint(mobile-sm) {
      width: 100%;
    }
  }
}

.img {
  max-width: 372px;
}