@import '../../styles/main';

.wrap {
  justify-content: center;
  align-items: center;
  column-gap: 62px;
}

.content {
  padding: 40px 0 40px;
  flex: 0 0 571px;
  background: url('../../icons/bigSertText.svg') no-repeat 0% 24px;

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 483px;
  }
}

.img {
  max-width: 372px;
}

.form {
  gap: $gap;

  &__field {
    padding: 16px;
    padding-right: 38px;
    width: 190px;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    transition: border-color .3s ease, background .3s ease;

    &::placeholder {
      color: $darkGray;
    }

    &:focus {
      outline: none;
      border-color: $darkGray;
    }

    &:hover {
      border-color: $darkGray;
    }

    &:valid {
      background: url('../../icons/OKform.svg') no-repeat calc(100% - 16px) 50%, #E7F1FC;
      border-color: #E7F1FC;
    }
  }
}