@import '../../styles/main';

.footer {
  padding-top: 80px;

  &__logo {
    margin-top: 6px;
    margin-bottom: 20px;
    display: block;
  }

  &__top {
    margin-bottom: 30px;
    gap: 85px;

    @include breakpoint(laptop-xs) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__bottom {
    padding-top: 43px;
    padding-bottom: 43px;
    border-top: 1px solid #CFCFCF;

    &Wrap {
      align-items: center;
      column-gap: 135px;

      @include breakpoint(mobile-sm) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
    }
  }

  &__info {
    flex-grow: 1;
    justify-content: space-between;
    gap: 40px;

    @include breakpoint(laptop-xs) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    flex-direction: column;
    row-gap: $gap;
  }

  &__cta {
    flex-direction: column;
    row-gap: 20px;
  }

  &__left {
    &Wrap {
      margin-bottom: 13px;
      column-gap: 10px;
      align-items: center;
    }
  }
}

.nav {
  &__link {
    transition: color .3s ease;

    &:hover {
      color: $hoverColor;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-family: $segoe;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $darkGray;
  }
}

.socials {
  // margin-bottom: 40px;
  gap: $gap;  

  &__link {
    & svg {
      @include breakpoint(mobile-sm) {
        width: 50px;
        height: 50px;
      }

      & rect {
        transition: fill .3s ease;
      }

      & path {
        transition: fill .3s ease;
      }
    }

    &_telegram {
      &:hover {
        & svg rect {
          fill: #2FADE7;
        }

        & svg path {
          fill: $white;
        }
      }
    }

    &_vk {
      &:hover {
        & svg rect {
          fill: #4E9EFF;
        }

        & svg path {
          fill: $white;
        }
      }
    }

    &_youtube {
      &:hover {
        & svg rect {
          fill: #FF0000;
        }

        & svg path {
          fill: $white;
        }
      }
    }

    &_dzen {
      &:hover {
        & svg rect {
          fill: #959595;
        }

        & svg path {
          fill: $white;
        }
      }
    }

    &_odnoklass {
      &:hover {
        & svg rect {
          fill: #EF8024;
        }

        & svg path {
          fill: $white;
        }
      }
    }
  }
}