@import '../../styles/main';

.top {
  margin-bottom: 60px;
  justify-content: space-between;
  gap: 20px;

  @include breakpoint(laptop-xs) {
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }

  @include breakpoint(mobile-sm) {
    margin-bottom: 30px;
    gap: 10px;
  }

  &__descr {
    margin-bottom: 20px;
    max-width: 553px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 618px;
    text-align: end;

    @include breakpoint(laptop-xs) {
      text-align: start;
    }
  }

  &__link {
    @include gradientText();

    align-items: center;
    column-gap: 14px;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.8;
    }

    & svg {
      margin-top: 4px;
      transition: transform .3s ease;
    }

    &:hover svg {
      transform: translateX(4px);
    }

    @include breakpoint(mobile-sm) {
      display: none;
    }

    &Bottom {
      display: none;

      @include breakpoint(mobile-sm) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;

  @include breakpoint(laptop-xs) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(mobile-sm) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.item {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &__link {
    width: 100%;
  }

  &__img {
    margin-bottom: 20px;
    height: 253px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    @include breakpoint(mobile-sm) {
      height: 154px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s ease;
    }
  }

  &:hover .item__img img {
    transform: scale(1.1);
  }

  &:hover .item__link {
    color: $hoverColor;
  }

  &__title {
    margin-bottom: 10px;
  }
}