@import '../../styles/main';

.wrap {
  gap: $gap;
  justify-content: space-between;
}

.contacts {
  flex: 0 0 calc(100% / 12 * 5 - $gapHalf);

  &__wrap {
    gap: $gap;
    justify-content: space-between;
  }

  &__list {
    flex-direction: column;
    justify-content: space-between;
    row-gap: $gap;
    flex: 0 0 calc(100% / 5 * 4 - $gapHalf);
  }

  &__item {
    &Wrap {
      flex-direction: column;
    }

    padding: 30px;
    flex: 0 1 calc(100% / 3 - $gap * 2 / 3);
    background-color: $lightGray;
    border-radius: 12px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 10px;
  }
}

.socials {
  flex-direction: column;
  justify-content: space-between;
  row-gap: $gap;
  flex: 0 0 calc(100% / 5 - $gapHalf);

  &__item {
    border-radius: 12px;
    background-color: $lightGray;
    flex-grow: 1;
    cursor: pointer;

    & svg {
      transition: all .3s ease;
    }

    &:hover {
      svg {
        transform: scale(1.12);
        filter: drop-shadow(0 0 2px rgba($color: $hoverColor, $alpha: 0.5));
      }
    }
  }

  &__link {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
}

.map {
  flex: 0 0 calc(100% / 12 * 7 - $gapHalf);
  overflow: hidden;
  border-radius: 12px;

  &__title {
    margin-bottom: 30px;
  }

  &__wrap {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;

    & iframe {
      margin: -2px;
      position: relative;
      min-width: calc(100% + 4px);
      height: calc(100% + 4px);
    }
  }
}